/**
 * Custom styles to immediately follow Tailwind’s `utilities` layer
 *
 * Add your own utility classes to this theme. Complex utility classes should
 * be added using Tailwind’s plugin system:
 *
 * https://tailwindcss.com/docs/plugins#adding-utilities
 */

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.xperto-auto {
	margin-top: auto;
	margin-bottom: auto;
}

.community-nav {
	@apply w-full;
}

.community-nav .nav-links {
	@apply flex flex-row items-center justify-center space-x-4 md:justify-end;
}

.community-nav .nav-links div {
	@apply text-xperto-neutral-mid-1 hover:text-xperto-orange;
}

.page-numbers {
	@apply text-xperto-neutral-mid-1 p-2 w-10 h-10 text-center rounded-lg hover:bg-white hover:text-xperto-orange;
}

.next.page-numbers, .prev.page-numbers{
	@apply w-[90px];
}

.entry-content > * {
	@apply mx-0 max-w-fit w-full;
}

/*
* Comments
*/
.reply a.comment-reply-link {
	@apply text-xperto-orange py-1 px-2 text-sm rounded-md hover:text-xperto-orange hover:bg-xperto-orange-light-90;
}

.comment .children {
	@apply pl-3 border-l-2;
}

.comment article {
	@apply py-6 mt-2;
}

.comment .children article {
	@apply p-6 bg-xperto-neutral-light-2 mt-2;
}

.comment-respond {
	@apply border-t-2;
}

.comment-respond #cancel-comment-reply-link {
	@apply font-normal text-xperto-neutral-mid-1 ml-4 hover:text-xperto-orange;
}

.comment-respond .comment-reply-title {
	@apply text-xl py-4 font-semibold;
}

.comment-respond .logged-in-as {
	@apply hidden;
}

.comment-respond .logged-in-as a{
	@apply text-xperto-orange;
}

.comment-respond .comment-form-comment{
	@apply flex flex-col;
}

.comment-respond .comment-form-comment textarea{
	@apply bg-white border border-xperto-neutral-light-1 rounded-lg;
}

.comment-respond .comment-form {
	@apply flex flex-col space-y-4;
}

.comment-respond .form-submit {
	@apply flex flex-col items-end;
}

.comment-respond .form-submit .submit {
	@apply bg-xperto-orange text-white rounded-lg p-4 cursor-pointer hover:bg-xperto-orange-base-20 active:bg-xperto-orange-base-plus-10;
}

.body-search {
	@apply w-full mb-3 flex items-center max-w-none md:w-1/2 md:max-w-2xl;
}

.xperto-tab-active {
	@apply text-xperto-orange border-b-2 border-xperto-orange;
}