/**
 * Custom styles to immediately follow Tailwind’s `utilities` layer
 *
 * Add your own utility classes to this theme. Complex utility classes should
 * be added using Tailwind’s plugin system:
 *
 * https://tailwindcss.com/docs/plugins#adding-utilities
 */

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.xperto-auto {
	margin-top: auto;
	margin-bottom: auto;
}

.community-nav {
	@apply w-full;
}

.community-nav .nav-links {
	@apply flex flex-row items-center justify-center space-x-4 md:justify-end;
}

.community-nav .nav-links div {
	@apply text-xperto-neutral-mid-1 hover:text-xperto-orange;
}

.page-numbers {
	@apply h-10 w-10 rounded-lg p-2 text-center text-xperto-neutral-mid-1 hover:bg-white hover:text-xperto-orange;
}

.next.page-numbers,
.prev.page-numbers {
	@apply w-[90px];
}

.entry-content > * {
	@apply mx-0 w-full max-w-fit;
}

.post-edit-link {
	@apply text-xperto-orange hover:text-xperto-orange-base-20;
}

/*
* Comments
*/
.reply a.comment-reply-link {
	@apply rounded-md py-1 px-2 text-sm text-xperto-orange hover:bg-xperto-orange-light-90 hover:text-xperto-orange;
}

.comment .children {
	@apply border-l-2 pl-3;
}

.comment article {
	@apply mt-2 py-6;
}

.comment .children article {
	@apply mt-2 bg-xperto-neutral-light-2 p-6;
}

.comment-respond #cancel-comment-reply-link {
	@apply ml-4 font-normal text-xperto-neutral-mid-1 hover:text-xperto-orange;
}

.comment-respond .comment-reply-title {
	@apply py-4 text-xl font-semibold;
}

.comment-respond .logged-in-as {
	@apply hidden;
}

.comment-respond .logged-in-as a {
	@apply text-xperto-orange;
}

.comment-respond .comment-form-comment {
	@apply flex flex-col;
}

.comment-respond .comment-form-comment textarea {
	@apply rounded-lg border border-xperto-neutral-light-1 bg-white;
}

.comment-respond .comment-form {
	@apply flex flex-col space-y-4;
}

.comment-respond .form-submit {
	@apply flex flex-col items-end;
}

.comment-respond .form-submit .submit {
	@apply cursor-pointer rounded-lg bg-xperto-orange p-4 text-white hover:bg-xperto-orange-base-20 active:bg-xperto-orange-base-plus-10;
}

.body-search {
	@apply mb-3 flex w-full max-w-none items-center md:w-1/2 md:max-w-2xl;
}

.xperto-tab-active {
	@apply border-b-2 border-xperto-orange text-xperto-orange;
}

/*
* Memberpress override styles
*/
.mp_wrapper {
	@apply w-full max-w-none;
}

#mepr-account-nav {
	@apply -mb-px flex flex-wrap border-b border-xperto-neutral-mid-1 text-center;
}

#mepr-account-nav .mepr-nav-item {
	@apply inline-block hover:bg-xperto-orange-light-90 !important;
}

#mepr-account-nav .mepr-active-nav-tab {
	@apply border-b-2 border-xperto-orange !important;
}

#mepr-account-nav .mepr-active-nav-tab a {
	@apply text-xperto-orange !important;
}

#mepr-account-nav a {
	@apply p-5 text-xperto-neutral-mid-1 no-underline hover:text-xperto-orange !important;
} 
#mepr-account-nav span{
	@apply p-3 !important; 	
}

#mepr-account-nav span:last-child {
	@apply hidden !important;
}

/*
* Memberpress forms
*/
#mepr_account_form {
	@apply space-y-9;
}

#mepr_account_form .mp-form-row {
	@apply md:w-3/4 xl:w-2/3 !important;
}

#mepr_account_form .mp-form-row textarea {
	@apply h-36;
}

#mepr_account_form .mp-form-label {
	@apply mb-2 text-sm font-bold;
}

#mepr_account_form label.mepr-checkbox-field.mepr-form-input{
	@apply border-0 bg-transparent border-transparent;

}

#mepr_account_form .mepr-form-input {
	@apply rounded border border-xperto-neutral-light-1 p-3;
}

#mepr_account_form a {
	@apply text-xperto-orange hover:text-xperto-orange-base-20;
}

#mepr_account_form .mepr-submit {
	@apply mt-0 cursor-pointer rounded-lg bg-xperto-orange px-4 py-3 text-white hover:bg-xperto-orange-base-20 hover:text-white active:bg-xperto-orange-base-plus-10 !important;
}

.mp_wrapper .mepr-account-change-password a {
	@apply text-xperto-orange !important;
}

.mepr_error {
	@apply rounded-lg p-0 shadow-sm shadow-xperto-error-light bg-xperto-error-light !important;
}

.mepr_error,
.mepr_error strong {
	@apply text-xperto-error-dark !important;
}

.mepr_error ul {
	@apply px-6 py-4 !important;
}
